@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,p,a,img,ul,li,ol,dl,dt,dd,input{ padding:0; margin:0}
ul,ol{ list-style:none;}
img{ display:block; border:0;}
a{ font-size:12px;text-decoration:none; color:#6c6c6c;}
a:hover{ color:#eb155b;}
input{ outline:none;}
img{ display:block; border:0;}
body{ font-size:12px; color:black; background: #fff; min-height: 1200px }
a{ font-size:12px;text-decoration:none; color:black;}
.w{ width:1200px; margin:0 auto}
.l{ float:left;}
.r{ float:right}
header,nav,main,aside,article,footer,figure,figcaption,section{ display:block;}
/**{box-sizing: border-box}*/

/* header */
.header{
    width:1200px;
    margin:0 auto;
    overflow: hidden;
}
/* header-logoBox */
.header .logoBox{
    float: left;
    overflow: hidden;
}
.logoBox .logoImg{
    width:70px;
    height:70px;
    float: left;
    margin:20px 0;
}
.logoBox .logoText{
    font-size: 32px;
    float: left;
    line-height:120px;
}
.logoText .logo-Internet{
    color:#3381ff;
}
.logoText .logo-Design{
    color:#cccccc;
}
/* header-nav */
.header .nav{
    float: right;
    overflow: hidden;
}
.nav .navHref{
    display: block;
    font-size:16px;
    color:black;
    padding:10px 15px;
    border-bottom:3px solid #fff;
    float: left;
    margin:10px;
    margin-top:30px;
    min-width:50px;
    text-align: center;
}
.nav .navHref:hover{
    color:#076ce0;
    border-bottom:3px solid #076ce0;
}
.nav .hoverHref{
    color:#076ce0;
    border-bottom:3px solid #076ce0;
}

/* footer */
.bodyFooter{
    width:100%;
    background-color:black;
}
.footer{
    width:1200px;
    background-color:black;
    color:white;
    overflow: hidden;
    margin:0 auto;
    padding-top:30px;
}
.footer .footerUl{
    width:150px;
    margin:0 30px;
    float: left;
    text-align: center;
}
.footerUl .thick{
    font-weight: bold;
    margin-bottom:10px;
    font-size:20px;
}
.footer li a{
    display: block;
    font-size:18px;
    color:white;
    margin-bottom:10px;
}
.footer .contact{
    float: right;
    font-size:16px;
}
.contact p{
    margin-bottom:10px;
}
.contact img{
    width:125px;
    height:125px;
    text-align: center;
    margin:0 auto 10px;
}
.contact .group{
    color:yellow;
    text-align: center;
}














